body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    margin: 10px;
}

h2 {
    font-weight: 400;
    margin: 10px;
    font-size: 1.5em;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

form {
    margin: 10px;
}

label {
    padding: 20px 20px 200px 0px;
}

button {
    margin: 20px 20px 20px 0px;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

.scare_me {
  background-color: #c73939;
  color: white;
}


.sidebar {
  width: 33.33vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar_two {
  width: 3.33vw;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}


#sidebar-text {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 1.5em;
  line-height: 1.5;
}

.days-gone {
  color: #c73939;
}


#sidebar-text span.days-left {
  background-color: #c73939;
  text-align: center;
  border-radius: 10px;
  border: white 4px solid;
  color: white;
  font-size: 40px;
  font-weight: 500;
  padding: 10px;
  display: block;
  margin: 50px 0px;
}

/* #sidebar-text span.callout {
  border: 2px solid #c73939;
  box-shadow: 3px 3px #c73939;
  color: #c73939;
  font-size: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: block;
} */

#sidebar-text span.callout-urgent {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.labels_text {
  visibility: visible;
}



.visualization-wrapper {
  width: 58.67vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.labels {
  writing-mode: vertical-rl;
  margin-left: 20px;
  margin-top: 20px;
  visibility: hidden;
  display:block;
}

.label-top {
  font-size: 20px;
  margin-bottom: 50%;
  color: #c73939;
}

.label-bottom {
  font-size: 20px;
  margin-top: 50%;
}

.day {
  display: inline-block;
  width: 60px;
  height:  60px;
  margin: 1px;
  border-radius: 50%;
  background-color: #ccc;
  transition: all 0.3s ease-in-out;
}

.gone {
  background-color: #c73939;
}

.left {
  background-color: #949494;
}






@media (max-width: 768px) {
  input[type="date"], button {
    font-size: 16px;
  }
  
  .day {
    width: 20px;
    height: 20px;
  }

  h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 10px;
}

h2 {
  font-weight: 400;
  margin: 10px;
  font-size: 1.em;
}

.container {
  display:none;
  flex-direction: column;
  height: auto;
  width: 100vw;
}

.sidebar {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar_two {
  width: 100vw;
  padding: 20px;
  display: flex;
  /* flex-direction: row;
  /* justify-content: flex-start;*/
}

.visualization-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

}  


@media print {
  body * {
    visibility: hidden;
  }
  .visualization-wrapper, #sidebar-text {
    visibility: visible;
  }
  .visualization-wrapper {
    margin-top: 0;
  }
  #sidebar-text {
    margin-top: 50px;
    font-size: 1.5em;
  }
}